*,*:after, *before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}


/*-----------------------------------------------------------------------------
	PARALAX
-----------------------------------------------------------------------------*/
.paralax{
    width: 100%;
    height: 100vh;
    background-image: url("../img/img4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  /*  background-attachment: fixed;*/
    transition-delay: 1s;
    
}

/*-----------------------------------------------------------------------------
	ENCABEZADO
-----------------------------------------------------------------------------*/
.encabezado{


	background-color: navy;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 100;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}

.encabezado nav{
	float: right;
}



.encabezado nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	

	
}
 
.encabezado nav ul li{
	display: inline-block;
	margin-right: -4px;
	

	
}

.encabezado nav ul li a{
	color: #fff;
	padding: 18px;
	text-decoration: none;
	border-left: 1px solid #696969;

}

.encabezado nav ul li a:hover{
background-color: #686868;
	
}

.logo{
	text-align: center;
	font-size: 40px;
	margin-top: -5px;
	float: left;
	text-decoration: none !important;
	color: #fff;
	
	flex-direction: row;
}
.logo img{
	margin-top: -7px;
	height: 60px;
	
	flex-direction: row;
}

a:hover{
	color: #fff !important;

}

.perfil {
	position: absolute;
	width: 20%;
	margin-top: 10%;
	margin-left: 41%;
	font-size: 20px;
	color: white;
	
}
.perfil img {
	padding: -10;
	border: 3px solid navy;
	border-radius: 50%;
}
.perfil p{
	text-align: center;
	background-color: rgb(0, 0, 128, 0.8);
	
}



/*-----------------------------------------------------------------------------
	SLIDER
-----------------------------------------------------------------------------*/
.slider{
	width: 100%;
	background-color: beige;
	text-align: center;
	overflow: hidden;
	
	
}

.slider img{
	width: 100%;
	height: 100%;
}

.slider ul {
	margin-bottom: 0;
	padding: 0;


}





/*-----------------------------------------------------------------------------
	CONTENIDO
-----------------------------------------------------------------------------*/
.contenido{
    background-color:white;
	text-align: center;
	padding-right: 0px !important;
    padding-left: 0px !important;

}

 p{
		text-align: justify;
	 	font-size: 24px;
}

.sobremi{
	color: navy;
	padding-top:80px; 
	background-color: lightgray;
    padding-bottom: 100px;
}

.servicios{
	color: navy;
	padding-top:80px; 
	background-color: white;
}

.servicios img{
	width: 300px;
	height: 300px;
  /*background-color: rgb(0, 0, 128, 0.8);*/
} 
.columna1{
	float: left;
}
.columna2{
	float: right;
}
.columna1  img{
	height: 250px;
	width: 250px;

}
.columna2  img{
	height: 250px;
	width: 250px;
	
}
#circulo {
	width: 100%;
	height: 500px;
	border-radius: 50%;
	border: 2px solid navy;
	position: absolute;
	
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
}
#circulo > p {
	
	margin-left: 40px;
	margin-right: 40px;
	position: absolute;
	text-align: center;
	font-family: sans-serif;
	color: navy;
	font-size: 22px;
	font-weight: bold;
}



.productos{
	color: navy;
	padding-top:80px;
	background-color: lightgray;
	padding-bottom: 100px;
}

.productos img{
	width: 350px;
	height: 300px;
}
.contacto{
	color: navy;
	padding-top:80px; 
	height: 900px;
	background-color: white;
}


.contacto input{
	align-content: center;
	align-items: center;
}
/*-----------------------------------------------------------------------------
	FOOTER
-----------------------------------------------------------------------------*/
.footer{
    background-color: navy;
	color: white;
    height: 80px;
    padding-top: 30px;
    text-align: center;
}
/*-----------------------------------------------------------------------------
	ANIMACION
-----------------------------------------------------------------------------*/
.animado{
    opacity: 0;
    transition: all 1s;
    
}
.animado2{
    opacity: 0;
    transition: all 1s;
    
}

.mostrarIzquierda{
    animation: mostrarIzquierda 1s !important;
    
}
.mostrarDerecha{
    animation: mostrarDerecha 1s !important;
    
}

@keyframes mostrarIzquierda{
    0% {
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes mostrarDerecha{
    0% {
        transform: translateX(+60px);
    }
    100%{
        transform: translateX(0);
    }
}


/*-----------------------------------------------------------------------------
	EFECTOS MENU
-----------------------------------------------------------------------------*/
/*.headroom {
    transition: transform .3s ease;
	
}
.headroom--pinned {
	transform: translateY(0%) !important;
}
.headroom--unpinned {
	transform: translateY(-100%) !important;
}

/*-----------------------------------------------------------------------------
	PRELOADER
-----------------------------------------------------------------------------*/
#contenedor_carga{
	background-color: rgba(250, 240, 245, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	transition: all 1s ease;
	z-index: 10000;
	
}

#carga{
	border: 15px solid #ccc;
	border-top-color: navy;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	
	position: absolute;
	top:-10px;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: auto;
	
	animation: girar 1.5s linear infinite;
}

@keyframes girar {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}




/*-----------------------------------------------------------------------------
	MEDIAQUERIES
-----------------------------------------------------------------------------*/
@media screen and (min-width: 900px){

	
	
}

@media screen and (max-width: 800px){
	
	.logo{
		font-size: 22px;
		padding-top: 5px;
	}
	.logo img{
	margin-top: -7px;
	
	}
	.logo p{
	margin-top: 7px;
	
	}
	
	.encabezado nav{
		font-size: 14px;
	}
	
	
	
}

@media screen and (max-width: 700px){
	
	.encabezado {
		
		flex-direction: column;

		
	}
	
	.slider{
	 padding-top: 30px;
		
	}
	.logo{
		flex-direction: column;
		text-align: center;
		padding-bottom: 10px;
		
	}
	.encabezado nav ul li a {
		
    	padding: 0 !important;
		padding-left: 15px !important;
		padding-top: 5px !important;
		padding-right: 15px !important;
    	text-align: center;
	
	}
	.servicios img{
	width: 250px;
	height: 250px;
	
	}
	.productos img{
	width: 250px;
	height: 200px;
	}
}


@media screen and (max-width: 650px){
	
	p{
		font-size: 20px;
	}
	h2{
		font-size: 22px !important;
	}
	
}

@media screen and (max-width: 500px){
	
	.encabezado nav ul li a {
		text-align: center;
	}
	p{
		font-size: 16px;
	}
	
	
}

@media screen and (max-width: 450px){
	
	.encabezado nav {
		font-size: 12px;
	}
	.encabezado nav ul li a {
		text-align: center;
	}
	.logo img{
		height: 40px;
	}
	
	.perfil p {
    font-size: 11px;
  
	}
	
	

}

@media screen and (max-width: 400px){
	
	.encabezado nav {
		font-size: 10px;
		margin: 0;
		padding: 0;
	}
	
	
	
}

@media screen and (max-width: 350px){
	

	.encabezado {
    width: 320px!important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
   
	}
	.encabezado nav ul li a {
    	
		text-align: center;
		 padding-right: 10px !important;
        padding-left: 10px !important;
	}
	

	
}


